.review__card {
    width: 20vw;
    background-color: var(--color-white);
    box-shadow: 0 0 2px rgba(0,0,0,0.5);

    padding: 20px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.review__card-text {
    text-align: center;
}

.review__card-img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.review__card-img img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 880px) {

    .review__card {
        width: 250px;
    }
    
}