.shoplist__card {
    width: fit-content;
    display: flex;
    flex-direction: row;

    background-color: var(--color-white);
    box-shadow: 0 0 2px rgba(0,0,0,0.5);

    padding: 40px;
}

.shoplist__card-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.shoplist__card-img img {
    height: 100%;
    width: 100%;
}

.shoplist__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 15vw;
    margin-left: 20px;
}

@media screen and (max-width: 1150px) {
    
    .shoplist__card {
        padding: 40px 0;
    }

    .shoplist__text {
        width: 40vw;
    }
}